@model OnlineShoppingApp.Models.Order

@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="well">Your order has been placed successfully!</h2>
<p>Your order Id: @Model.Id</p>
<p>Check your oders page to see more details and order status -
    @Html.ActionLink("See your orders page", "MyOrders", "Orders")</p>


